body {
  background-color: #8e8585;
  height: 1000px;
}

header {
  background-color: #8e8585;
  font-family: "Crimson Text", serif;
  font-size: 2rem;
  color: #252525;
  text-align: center;
  margin: 5vh;
  border: 2px solid #252525;
  height: 90vh;
  background-image: url(../img/bg-halo.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

h1 {
  font-size: 4rem;
  position: relative;
  top: 41%;
}

main {
  background-image: url(../img/will.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100%;
}
