/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of base stylesheet*/
body {
  background-color: #252525;
  height: 93vh;
}

header {
  background-color: #8e8585;
  font-family: "Crimson Text", serif;
  font-size: 2rem;
  color: #252525;
}

.splash {
  text-align: center;
  margin: 5vh;
  border: 2px solid #252525;
  height: 90vh;
  background-image: url(../img/bg-halo.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-top: 38vh;
  letter-spacing: 17px;
  text-indent: 20px;
}

.scroll-request {
  position: relative;
  top: 15vh;
}
.scroll-request img {
  height: 70px;
  width: 40px;
}

h1 {
  font-size: 4rem;
  position: relative;
  top: 39%;
}

main {
  background-color: #252525;
}

h2 {
  height: 31vh;
  font-size: 4rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2vw;
  color: Silver;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 80vw;
  position: relative;
  left: 10vw;
}
h2 div {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  height: 100%;
  line-height: 3em;
  transition: 0.75s;
}
h2 div:hover {
  background-color: #050505;
}

h2:nth-child(1) {
  background-image: url(../img/woman-on-moon.jpg);
  background-size: 100% auto;
  background-position: -40px 63%;
}

h2:nth-child(2) {
  background-image: url(../img/tiles.jpg);
  background-size: 120% auto;
  background-position: 65% 64%;
}

h2:nth-child(3) {
  background-image: url(../img/trees.jpg);
  background-size: 100% auto;
  background-position: center 60%;
}

footer {
  color: Silver;
  background-color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 7vh;
  margin: 0;
  border: 0;
  padding: 0;
}
footer div {
  text-align: center;
  width: 25%;
  height: 7vh;
  float: left;
  background-color: black;
  transition: 0.3s;
}
footer div:hover {
  color: #8e8585;
  background-color: #141414;
}

a {
  text-decoration: none;
  color: Silver;
}

b {
  font-weight: 400;
}

h3 {
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 2px solid #252525;
  margin: 10px;
  padding: 0;
  padding-bottom: 1rem;
}

.gallery {
  height: 100%;
  padding-left: 7vw;
  padding-top: 3vw;
  background-color: #252525;
}
.gallery a {
  width: 22vw;
  height: 20vw;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  float: left;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
  background-size: 30vw auto;
  background-position: center center;
  background-image: url(../img/gibraltar.jpg);
  transition: 0.5s;
}
.gallery a:hover {
  box-shadow: inset 0 0 20px 30% rgba(0, 0, 0, 0.7);
}
.gallery p {
  color: #252525;
  background-color: #252525;
  clear: both;
  font-size: 10vh;
}

footer.longpage {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  box-shadow: 0 -1vh 1vh rgba(0, 0, 0, 0.3);
}

aside {
  background-color: #8e8585;
  color: #252525;
  width: 33%;
  height: 93vh;
  float: left;
}
aside h4 {
  margin-left: 28%;
  margin-right: 10%;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-size: 2.5rem;
  border-bottom: 2px solid #252525;
}
aside p {
  padding-left: 28%;
  padding-right: 10%;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}
aside p:nth-child(n+4) {
  padding-top: 1.5rem;
}

a.return {
  height: 93vh;
  width: 10vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #0d0d0d;
  transition: 0.3s;
}
a.return img {
  position: relative;
  top: 45%;
  left: 1.5vh;
  width: 4vh;
  height: 12vh;
  opacity: 0.5;
}

a.return:hover {
  background-color: #141414;
}

div.frame {
  width: 66%;
  height: 93vh;
  float: right;
  background-color: #252525;
}
div.frame a {
  text-align: center;
}
div.frame a img {
  max-width: 85%;
  max-height: 85%;
  display: block;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}
div.frame a p {
  line-height: 3rem;
}

.sidebar .return {
  height: 100vh;
}

.backdrop {
  background-color: #252525;
  padding-left: 10vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.backdrop img {
  max-width: 1300px;
  max-height: 1300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#illustration-gallery a:nth-child(1) {
  background-image: url(../img/SIN.jpg);
}
#illustration-gallery a:nth-child(2) {
  background-image: url(../img/candy-mountain.jpg);
  background-position: bottom;
}
#illustration-gallery a:nth-child(3) {
  background-image: url(../img/sphinx.jpg);
}
#illustration-gallery a:nth-child(4) {
  background-image: url(../img/magic-carpet.jpg);
  background-position: auto top;
  background-size: 100% 100%;
}
#illustration-gallery a:nth-child(5) {
  background-image: url(../img/woman-on-moon.jpg);
  background-size: 105% auto;
  background-position: bottom;
}
#illustration-gallery a:nth-child(6) {
  background-image: url(../img/pigeons.jpg);
  background-size: auto 100%;
  background-position: left;
}

#fine-art-gallery a:nth-child(1) {
  background-image: url(../img/will.jpg);
}
#fine-art-gallery a:nth-child(2) {
  background-image: url(../img/christian.jpg);
}
#fine-art-gallery a:nth-child(3) {
  background-image: url(../img/shoes.jpg);
}
#fine-art-gallery a:nth-child(4) {
  background-image: url(../img/tiles.jpg);
}
#fine-art-gallery a:nth-child(5) {
  background-image: url(../img/hair-self-portrait.jpg);
}
#fine-art-gallery a:nth-child(6) {
  background-image: url(../img/flies-detail.jpg);
}

#design-gallery a:nth-child(1) {
  background-image: url(../img/KVcal.jpg);
  background-size: 300% auto;
  background-position: -25vw center;
}
#design-gallery a:nth-child(2) {
  background-image: url(../img/zenith.jpg);
}
#design-gallery a:nth-child(3) {
  background-image: url(../img/nearsights.jpg);
  background-size: 200% auto;
  background-position: 0% 50vh;
}
#design-gallery a:nth-child(4) {
  background-image: url(../img/aiken-detail.jpg);
  background-size: 100% auto;
}
#design-gallery a:nth-child(5) {
  background-image: url(../img/trees.jpg);
}
#design-gallery a:nth-child(6) {
  background-image: url(../img/cusinga.jpg);
  background-size: 300% auto;
  background-position: left;
}

.bodymain {
  background-color: #8e8585;
}

.info {
  min-height: 70vh;
  color: Silver;
  background-color: #252525;
  font-size: 1.5rem;
  padding-top: 10vh;
  padding-bottom: 15vh;
  border-left: 10vw solid #0d0d0d;
  border-right: 10vw solid #0d0d0d;
}
.info p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 1rem;
}
.info p.address {
  margin-left: 30vw;
}

#about {
  width: 30%;
  height: auto;
  min-height: 93vh;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 15vh;
}
#about h4 {
  padding-left: 15%;
  padding-right: 15%;
  font-family: "Crimson Text", serif;
}
#about p {
  font-weight: 300;
  font-size: 1.2rem;
  padding-left: 8%;
  padding-right: 8%;
}

@media all and (max-width: 1200px) {
  aside h4 {
    font-size: 1.5rem;
  }
  aside p {
    font-size: 1rem;
  }
}
@media all and (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1rem;
    letter-spacing: 2px;
  }

  h2 div {
    font-size: 1.5rem;
    line-height: 30vh;
  }

  h3 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  div.gallery {
    padding-right: auto;
    padding-left: auto;
  }
  div.gallery a {
    width: 35vw;
    height: 34vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  div.gallery a:nth-child(n) {
    background-repeat: no-repeat;
    background-size: auto 150%;
  }

  aside {
    width: 100vw;
    height: auto;
  }
  aside h4 {
    margin-top: 1rem;
    margin-left: 10vw;
    margin-left: 10vw;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding: 30px;
  }

  aside#about {
    width: 100%;
  }
  aside#about h4 {
    margin-left: 5vw;
  }

  div.frame {
    width: 100%;
    height: auto;
  }
  div.frame a img {
    width: 90%;
    height: auto;
    margin-bottom: 5vh;
  }

  .info p {
    font-size: 1.2rem;
  }
  .info p.address {
    margin-left: 15vw;
  }

  a.return {
    width: 5vw;
  }
  a.return img {
    height: 8vw;
    width: 2.5vw;
    left: 0.5vw;
  }

  footer {
    font-size: 1.2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
  }
}
