/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of base stylesheet*/
body {
  background-color: #8e8585;
  height: 93vh;
}

header {
  background-color: #8e8585;
  font-family: "Crimson Text", serif;
  font-size: 2rem;
  color: #252525;
}

.splash {
  text-align: center;
  margin: 5vh;
  border: 2px solid #252525;
  height: 90vh;
  background-image: url(../img/bg-halo.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-top: 38vh;
  letter-spacing: 17px;
  text-indent: 20px;
}

.scroll-request {
  position: relative;
  top: 15vh;
}
.scroll-request img {
  height: 70px;
  width: 40px;
}

h1 {
  font-size: 4rem;
  position: relative;
  top: 39%;
}

main {
  background-color: #252525;
}

h2 {
  height: 31vh;
  font-size: 4rem;
  font-family: "Crimson Text", serif;
  color: Silver;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 80vw;
  position: relative;
  left: 10vw;
}
h2 div {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  height: 100%;
  line-height: 3em;
  transition: 0.75s;
}
h2 div:hover {
  background-color: #050505;
}

h2:nth-child(1) {
  background-image: url(../img/woman-on-moon.jpg);
  background-size: 100% auto;
  background-position: -40px 63%;
}

h2:nth-child(2) {
  background-image: url(../img/tiles.jpg);
  background-size: 120% auto;
  background-position: 65% 64%;
}

h2:nth-child(3) {
  background-image: url(../img/gibraltar.jpg);
  background-size: 100% auto;
  background-position: center -5%;
}

footer {
  color: Silver;
  background-color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 7vh;
  margin: 0;
  border: 0;
  padding: 0;
}
footer div {
  text-align: center;
  width: 25%;
  height: 7vh;
  float: left;
  background-color: black;
  transition: 0.3s;
}
footer div:hover {
  color: #8e8585;
  background-color: #141414;
}

a {
  text-decoration: none;
  color: Silver;
}

h3 {
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 2px solid #252525;
  margin: 10px;
  padding: 0;
  padding-bottom: 1rem;
}

.gallery {
  height: 100%;
  padding-left: 7vw;
  padding-top: 3vw;
  background-color: #252525;
}
.gallery a {
  width: 22vw;
  height: 20vw;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  float: left;
  background-size: 30vw auto;
  background-position: center center;
  background-image: url(../img/gibraltar.jpg);
}
.gallery p {
  color: #252525;
  background-color: #252525;
  clear: both;
  font-size: 10vh;
}

footer.longpage {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

aside {
  background-color: #8e8585;
  color: #252525;
  width: 33%;
  height: 93vh;
  float: left;
}
aside h4 {
  margin-left: 28%;
  margin-right: 10%;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-size: 2.5rem;
  border-bottom: 2px solid #252525;
}
aside p {
  padding-left: 28%;
  padding-right: 10%;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}
aside p:nth-child(n+4) {
  padding-top: 1.5rem;
}

a.return {
  height: 93vh;
  width: 10vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #0d0d0d;
  transition: 0.3s;
}
a.return img {
  position: relative;
  top: 45%;
  left: 1.5vh;
  width: 4vh;
  height: 12vh;
  opacity: 0.5;
}

a.return:hover {
  background-color: #141414;
}

div.frame {
  width: 66%;
  height: 93vh;
  float: right;
  background-color: #252525;
}
div.frame a {
  text-align: center;
}
div.frame a img {
  max-width: 85%;
  max-height: 85%;
  display: block;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}
div.frame a p {
  line-height: 3rem;
}

.sidebar .return {
  height: 100vh;
}

.backdrop {
  background-color: #252525;
  padding-left: 10vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.backdrop img {
  max-width: 1300px;
  max-height: 1300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
