
h3
{
   text-align: center;
   font-size: 2.5rem;
   border-bottom: 2px solid $dark;
   margin: 10px;
   padding: 0;
   padding-bottom: 1rem;
   background-color: $medium;
}

.gallery
{
   height: 100%;
   padding-left: 7vw;
   padding-top: 3vw;
   background-color: $dark;

   a{
      width: 22vw;
      height: 20vw;
      margin-left: 3vw;
      margin-right: 3vw;
      margin-top: 2vw;
      margin-bottom: 2vw;
      float: left;

      box-shadow: inset 0 0 10px rgba(0,0,0,0.7);

      background-size: 30vw auto;
      background-position: center center;
      background-image: url(../img/gibraltar.jpg);

      transition: 0.5s;
   }

   a:hover
   {
      box-shadow: inset 0 0 20px 30% rgba(0,0,0,0.7);
   }

   p
   {
      color: $dark;
      background-color: $dark;
      clear: both;
      font-size: 10vh;
   }
}

footer.longpage
{
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100vw;

   box-shadow: 0 -1vh 1vh rgba(0,0,0,0.3);
}
