
h3
{
   text-align: center;
   font-size: 2.5rem;
   border-bottom: 2px solid $dark;
   margin: 10px;
   padding: 0;
   padding-bottom: 1rem;
}

.gallery
{
   height: 100vh;
   padding-left: 7vw;
   padding-top: 3vw;
   background-color: $dark;

   a{
      width: 22vw;
      height: 20vw;
      background-color: red;
      margin-left: 3vw;
      margin-right: 3vw;
      margin-top: 2vw;
      margin-bottom: 2vw;
      float: left;
   }

   p
   {
      color: $dark;
      background-color: $dark;
      clear: both;
      margin: 10vh;
   }
}

footer.longpage
{
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100vw;
}
