aside
{
   background-color: $medium;
   width: 33%;
   height: 93vh;
   float: left;

   h4
   {

   }

   p
   {

   }
}

a.return
{

}

div.frame
{
   width: 66%;
   height: 93vh;
   float: right;
   background-color: $dark;
   a{

      img
      {
         width: 300px;
      }

      p
      {

      }
   }
}
