aside
{
   background-color: $medium;
   color: $dark;
   width: 33%;
   height: 93vh;
   float: left;

   h4
   {
      margin-left: 28%;
      margin-right: 10%;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      margin-top: 4rem;
      font-size: 2.5rem;
      border-bottom: 2px solid $dark;
   }

   p
   {
      padding-left: 28%;
      padding-right: 10%;
      padding-top: 0.5rem;
      font-size: 1.5rem;
   }

   p:nth-child(n+4)
   {
      padding-top: 1.5rem;
   }
}

a.return
{
   height: 93vh;
   width: 10vh;
   position: fixed;
   left: 0;
   top: 0;
   background-color: lighten(black,5%);

   transition: 0.3s;

   img{
      position: relative;
      top: 45%;
      left: 1.5vh;
      width: 4vh;
      height: 12vh;
      opacity: 0.5;
   }
}

a.return:hover
{
   background-color: lighten(black,8%);
}

div.frame
{
   width: 66%;
   height: 93vh;
   float: right;
   background-color: $dark;
   a{

      img
      {
         width: 300px;
      }

      p
      {

      }
   }
}
