
@import '_base.scss';

/* end of base stylesheet*/


$medium: #8e8585;

$serif: 'Crimson Text', serif;
$sans: 'Source Sans Pro', sans-serif;

$dark: #252525;
$light: Silver;
$medium-transparent: rgba(142,133,133,0.5);

body
{
   background-color: $medium;
   height: 93vh;
}

header
{
   background-color: $medium;
   font-family: $serif;
   font-size: 2rem;
   color: $dark;
}

.splash
{
   text-align: center;
   margin: 5vh;
   border: 2px solid $dark;
   height: 90vh;

   background-image: url(../img/bg-halo2.jpg);
   background-position: center center;
   background-size: auto 100%;
   background-repeat: no-repeat;
}

.subtitle
{
   font-family: $sans;
   font-weight: 300;
   text-align: center;
   margin-top: 38vh;
   letter-spacing: 17px;
   text-indent: 20px;
}

.scroll-request
{
   position: relative;
   top: 15vh;
   img
   {
      height: 70px;
      width: 40px;
   }
}

h1
{
   font-size: 4rem;
   position: relative;
   top: 39%;
}

main
{
   background-color: $dark;
}

h2
{
   height: 31vh;
   font-size: 4rem;
   font-family: $serif;
   color: $light;
   background-attachment: fixed;
   background-repeat: no-repeat;
   width: 80vw;
   position: relative;
   left: 10vw;

   div
   {
         background-color: rgba(0,0,0,0.7);
         text-align: center;
         height: 100%;
         line-height: 3em;

            transition: 0.75s;
   }

   div:hover
   {
      background-color: lighten(black, 2%);
   }
}


h2:nth-child(1)
{
   background-image: url(../img/woman-on-moon.jpg);
   background-size: 100% auto;
   background-position: -40px 63%;
}

h2:nth-child(2)
{
   background-image: url(../img/tiles.jpg);
   background-size: 120% auto;
   background-position: 65% 64%;
}

h2:nth-child(3)
{
   background-image: url(../img/trees.jpg);
   background-size: 100% auto;
   background-position: center 60%;
}

footer
{
   color: $light;
   background-color: black;
   font-family: $sans;
   font-weight: 300;
   font-size: 1.5rem;
   line-height: 7vh;
   margin: 0;
   border: 0;
   padding: 0;

   div
   {
      text-align: center;
      width: 25%;
      height: 7vh;
      float: left;
      background-color: rgb(0,0,0);
      transition: 0.3s;
   }

   div:hover
   {
      color: $medium;
      background-color: lighten(black,8%);
   }
}

a
{
   text-decoration: none;
   color: $light;
}

@import 'category-page.scss';
@import 'content-page.scss';
@import 'image-page.scss';
@import 'galleries.scss';
