
$background-color: #5f5959;

$serif: 'Crimson Text', serif;
$dark: #252525;
$light: #999;

body
{
   background-color: $background-color;
   height: 1000px;
}

header
{
   background-color: $background-color;
   font-family: $serif;
   font-size: 2rem;
   color: $dark;
   text-align: center;
   margin: 5vh;
   border: 2px solid $dark;
   height: 90vh;

   background-image: url(../img/bg-halo.jpg);
   background-position: center center;
   background-size: auto 100%;
   background-repeat: no-repeat;
}

main
{
   background-image: url(../img/will.jpg);
   background-attachment: fixed;
   background-position: center center;
   background-size: 100% auto;
   background-repeat: no-repeat;

   height: 100%;
}
