
$background-color: #5f5959;

$serif: 'Crimson Text', serif;
$dark: #333;
$light: #999;

body
{
   background-color: $background-color;
   height: 1000px;
}

header
{
   background-color: $background-color;
   font-family: $serif;
   font-size: 2rem;
   color: $dark;
   text-align: center;
   margin: 2%;
   border: 2px solid $dark;
   padding: 40px;

   background-image: url(../img/bg-halo.jpg);
   background-position: center center;
   background-size: auto 100%;
   background-repeat: no-repeat;
}
